<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto|Ubuntu|Lato|Suez+One" rel="stylesheet"> 
    <!-- Estilos -->
    {% comment %} <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    {% comment %} <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endcomment %}
  </head>
  {% comment %} <body> {% endcomment %}
  <body class="bg-light pt-5 pb-5">

      {% if request.path != '/accounts/login/' %}
      <!-- Navegación -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top color2" style="border-bottom: solid lightgrey 1px;">
        <div class="container">
          <a class="navbar-brand fuente-logo" href="{% url 'home' %}">FARMAQUICK</a>
          <button class="btn btn-color2 navbar-toggler" type="button" data-toggle="collapse" data-target="#ned" aria-controls="ned" aria-expanded="false">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="ned">
            <ul class="navbar-nav mr-auto">
              {% comment %} <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-lg fa-home d-lg-none mr-2"></i> Inicio</a>
              </li> {% endcomment %}

              {% if request.user.is_authenticated %}
              <li class="nav-item {% if request.path == '/pedidos/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'pedidos:pedidos' %}"><i class="fa fa-lg fa-address-card-o d-lg-none mr-2"></i> Pedidos</a>
              </li>
              {% endif %}

              {% if 'pedidos.add_pedidos' in request.user.get_group_permissions %}
                <li class="nav-item {% if request.path == '/pedidos/crear/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'pedidos:crear' %}"><i class="fa fa-lg fa-pencil-square-o d-lg-none mr-2"></i> Crear pedido</a>
                </li>
              {% endif %}
              
              {% if request.user.is_authenticated %}
              <li class="nav-item {% if request.path == '/pedidos/archivo/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'pedidos:archivo' %}"><i class="fa fa-lg fa-archive d-lg-none mr-2"></i> Archivo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/"><i class="fa fa-lg fa-gear d-lg-none mr-2"></i> Admin</a>
              </li>
              {% endif %}
            </ul>
            <ul class="navbar-nav">


              {% if not request.user.is_authenticated %}
                <li class="nav-item {% if request.path == '/accounts/login/' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-lg fa-sign-in d-lg-none mr-2"></i> Acceder</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a href="#" class="nav-link"><i class="fa fa-lg fa-user d-lg-none mr-2"></i> {{request.user}}</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-lg fa-sign-out d-lg-none mr-2"></i> Salir</a>
                </li>
              {% endif %}
            
            </ul>

          </div>
        </div>
      </nav>
      {% endif %}
      <!-- Contenido -->
      {% block content %}{% endblock %}

      <!--MENU INFERIOR-->
      {% if request.user.is_authenticated %}
      <div class="fixed-bottom color2" style="border-top: solid lightgrey 1px;">
        <ul class="nav justify-content-center">
          <li class="nav-item mx-auto">
            <a class="nav-link btn-menu-inferior {% if request.path == '/' %}btn-active{% endif %}" href="{% url 'home' %}">
              <i class="fa fa-2x fa-home"></i>
            </a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link btn-menu-inferior {% if request.path == '/pedidos/' %}btn-active{% endif %}" href="{% url 'pedidos:pedidos' %}">
              <i class="fa fa-2x fa-address-card-o"></i>
            </a>
          </li>
          {% if 'pedidos.add_pedidos' in request.user.get_group_permissions %}
          <li class="nav-item mx-auto">
            <a class="nav-link btn-menu-inferior {% if request.path == '/pedidos/crear/' %}btn-active{% endif %}" href="{% url 'pedidos:crear' %}">
              <i class="fa fa-2x fa-pencil-square-o"></i>
            </a>
          </li>
          {% endif %}
          {% comment %} <li class="nav-item mx-auto">
            <a class="nav-link" href="#"><i class="btn-menu-inferior fa fa-2x fa-gear"></i></a>
          </li> {% endcomment %}
          <li class="nav-item mx-auto">
            <a class="nav-link btn-menu-inferior {% if request.path == '/pedidos/archivo/' %}btn-active{% endif %}" href="{% url 'pedidos:archivo' %}">
              <i class="fa fa-2x fa-archive"></i>
            </a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link btn-menu-inferior" href="{{ request.path }}">
              <i class="fa fa-2x fa-refresh"></i>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}

      <!-- Javascript -->
      {% comment %} <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script> 
      <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>{% endcomment %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

      <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      

      <script src="{% static 'core/js/main.js' %}"></script>

  </body>
</html>